html
{
    height: 100%;
    width: 100%;
}

body
{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;

    perspective: 1200px;
    -webkit-perspective: 1200px; /* Safari 和 Chrome */
}

#container
{
    perspective: 1200px;
    -webkit-perspective: 1200px; /* Safari 和 Chrome */

    height: 100%;
    width: 100%;
    background: black;
    overflow: hidden;
}

.cube
{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    position: absolute;
}

.number
{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    -webkit-transition-duration: 1s;
}

.face {
    position: absolute;
    opacity: 0.5;
    background-color: inherit;
}

.triangle
{
    position: relative;
    width: 0;
    height: 0;
}

.main
{
    position: relative;
    background-color: inherit;
    top: 0;
}

.sideFace
{
    background-color: inherit;
}